.bgGraphic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.line {
  transition: d 0.15s ease-out;
}

.node {
  transition: cx 0.15s ease-out, cy 0.15s ease-out;
}
